@font-face{
    font-family: 'Helvetica';
    src: url(./font/Helvetica.ttf);
}
@font-face{
    font-family: 'Helvetica-lite';
    src: url(./font/lite.ttf);
}
:root{
    --typhography-color: #5C5C5C;
    --modify-color: #D8D8D8;
;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
.container-header {
    max-width: 100%;
    height: 100vh;
    background: radial-gradient(124.34% 133.22% at 50% 153.22%, #152D54 0%, #000000 100%);
    overflow: hidden;
    margin: auto;

}
.all-manu-header-div {
    display: flex;
    padding: 0 60px;
    width: 100%;
    height: 87px;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    background: black;
}
.logo-header-div{
    max-width: 500px;
    overflow: hidden;
}
.menu-header-div {
    max-width: 1029px;
    flex: 1 1 auto;
}
.menu-search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    gap: 30px;
}
.menu-1{
    display: flex;
    width: 78px;
    height: 11px;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}
.search {
    display: flex;
    gap: 30px;
    text-transform: capitalize;
    align-items: center;
}
.helps {
    color: white;
    cursor: pointer;
}
.menu a {
    text-decoration: none;
}
.content-part{
    color: white;
    padding: 0 60px;
    text-align: center;
}
.content-part h1{
    width: 874px;
    margin: auto;
    font-size: 70px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 90px;
    line-height: 80px;
}
.content-part p{
    width: 874px;
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    color: #B4B4B4;
}
.header-button-form{
    display: flex;
    width: full;
    justify-content: center;
    margin-top: 50px;
}
.header-button-form button{
    padding: 20px 40px;
    background: #F8F413;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    border: 1px solid #F8F413;
    transition: all 0.3s linear;
}
.header-button-form button:hover{
    background: transparent;
    color: #F8F413;
}
.dream-container {
    
    max-width: 1400px;
    padding: 60px;
    margin: auto;
}
.dream-all-content-div {
    max-width: 1320px;
    max-height: 500px;
    display: flex;
    background: linear-gradient(177.41deg, #0D1B32 2.11%, #000000 92.51%);
    border-radius: 20px;
    gap: 30px;
    justify-content: space-between;
}
.dream-header-content {
    max-width: 370px;
    color: white;
    margin-bottom: 30px;
}
.dream-header-content h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 20px;
}
.dream-header-content p {
    font-size: 14px;
    font-weight: 400;
    color: #D8D8D8;
}
.internet{
    margin-top: 40px;
}
.first-internet {
    display: flex;
    gap: 11px;
    align-items: center;
    margin-bottom: 20px;
    color: #D8D8D8;
}
.internet-margin{
    margin-top: 30px;
}
.dream-left {
    padding: 30px;
}
.dream-right {
    padding-top: 30px;
    padding-right: 20px;
}
.dream-right-img {
    display: flex;
    justify-content: end;
}
.dream-container-2-header-content {
    max-width: 1440px;
    max-height: 190px;
    gap: 10px;
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
}
.dream-container-2-header-content h1 {
    max-width: 798px;
    max-height: 80px;
    font-weight: 500;
    font-size: 38px;
    line-height: 105%;
    letter-spacing: 0%;
    margin: auto;
}
.dream-container-2-opparation-left ul li a p{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    width: 207px;
    padding: 16px 0;
    color: #1A1A1A;
    gap: 10px;
    text-decoration: none;
    padding-left: 10px;
}
.dream-container-2-opparation-left ul li span{
    display: inline-block;
    width: 8px;
    height: 32px;
    border-radius: 6.56px;
    margin-bottom: -10px;
}
.dream-container-2-li-1 span{
    background: linear-gradient(177.41deg, #0D1B32 2.11%, #000000 92.51%);
}
.dream-container-2-opparation-left ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dream-container-2 {
    max-width: 1440px;
    gap: 10px;
    padding-top: 35px;
    padding-right: 60px;
    padding-bottom: 35px;
    padding-left: 60px;
    margin: auto;

}
.dream-container-2-li-1{
    margin-bottom: 20px;
}
.dream-container-2-li-2 a{
    text-decoration: none;
}
.dream-container-2-li-1 a{
    text-decoration: none;
}
.dream-container-2-li-2 span{
    display: inline-block;
    width: 8px;
    height: 32px;
    background: #F6F5F1;
    border-radius: 6.56px;
    margin-bottom: -10px;
}
.dream-container-2-opparation-left {
    flex: 1 1 20%;
    max-width: 20%;
}
.dream-container-2-opparation-right {
    flex: 1 1 80%;
    max-width: 80%;
    background: var(--moonGray-50, #F6F5F1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.dream-container-2-opparation {
    display: flex;
    justify-content: space-between;
}
.dream-container-2-opparation-right-content{
    max-width: 273px;
    max-height: 137px;
    margin-top: 116px;
    margin-left: 30px;
    gap: 20px;
}
.dream-container-2-opparation-right-content h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: bottom;
    margin-bottom: 20px;
}
.dream-container-2-opparation-right-content p {
font-weight: 400;
font-size: Typography/Font Sizes/Body;
line-height: 140%;
letter-spacing: Typography/Letter Spacing/Body;
vertical-align: bottom;
color:  #5C5C5C;
}
.dream-container-2-right-img {
    display: flex;
    justify-content: end;
}
.dream-container-2-right-img img {
    max-width: 630px;
    max-height: 400px;
border-radius: 10px;

}

.accelerted-container{
    width: full;
    max-height: 1383px;
padding-top: 120px;
padding-right: 59px;
padding-bottom: 200px;
padding-left: 59px;
gap: 10px;
background: linear-gradient(177.41deg, #0D1B32 2.11%, #000000 92.51%);
z-index: 2;
    overflow: hidden;
    position: relative;
    margin-top: 60px;

}
.accelerted-container::before{
    content: '';
height: 881.5px;
left: 0;
right: 0;

border-width: 1px;
position: absolute;
border: 1px solid;

border-image-source: linear-gradient(180deg, rgba(39, 48, 74, 0) 0%, #27304A 20.91%, #27304A 73.56%, rgba(39, 48, 74, 0) 100%);
background: url('./Assets/Grid\ Pattern.png') no-repeat;
    margin: auto;
    z-index: -2;
        background-size: cover;
}
.accelerted-container::after{
    content:'';
height: 100%;
left: 0;
right: 0;
top: 0;
border-width: 1px;
background: linear-gradient(transparent, #000000 80%);
position: absolute;
z-index: -1;
}
.accelerted-top{
    z-index: 60;
}
.accelerted-top-content{
    text-align: center;
    color: white;
    z-index: 1;
}
.accelerted-top-content p {
font-weight: 500;
font-size: 16px;
line-height: 105%;
letter-spacing: 5%;
text-align: center;
text-transform: uppercase;
color: var(--modify-color);
z-index: 20;

}
.accelerted-top-content h1 {
font-weight: 500;
font-size: 40px;
line-height: 105%;
font-size: 40px;
letter-spacing: 0%;
text-align: center;
margin-top: 5px;
z-index: 20;
}
.accelerted-top-img {
    text-align: center;
    margin-top: 70px;
}
.accelerted-bottom-content{
    margin-top: 50px;
    color: white;
    height: 307px;
    gap: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-top-width: 1px;
    
}
.accelerted-bottom-details-left h1{
    font-family: Helvetica;
font-weight: 500;
font-size: Typography/Font Sizes/H5;
line-height: 114.99999999999999%;
letter-spacing: 1px;
margin-bottom: 50px;

}
.accelerted-bottom-details-left{
    width: 429px;
    padding: 0 20px;
}
.accelerted-bottom-content-2{
    display: flex;
    gap: 20px;
}
.accelerted-bottom-details-left-right h3{
    font-family: Helvetica;
font-weight: 500;
font-size: Typography/Font Sizes/H6;
line-height: 114.99999999999999%;
letter-spacing: Typography/Letter Spacing/H6;
margin-bottom: 14px;
}
.accelerted-bottom-details-left-right p {
    font-family: Helvetica-lite;
font-weight: 400;
font-size: 15px;
line-height: 140%;
letter-spacing: Typography/Letter Spacing/Body;
color: #B4B4B4;
}
.accelerted-bottom-content-2-margin{
    margin-bottom: 40px;
}
.accelerted-bottom-details{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.accelerted-bottom-btn{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 24px;
    background: #67A1B6B2;
    color: white;
    margin-top: 80px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
}

.trust-section{
    margin-top: 220px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    gap: 76px;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
}

.section-image {
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.section-text {
  max-width: 500px;
}

.section-text h4 {
  color: gray;
  font-weight: normal;
  margin-bottom: 8px;
}

.section-text h2 {
  font-size: 28px;
  margin: 0 0 15px;
}

.highlight-box,
.brand-box {
  background-color: #eef2f5;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 20px;
}
.header-content-truct-section{
    font-family: Helvetica;
font-weight: 500;
font-size: 22px;
line-height: 105%;
letter-spacing: 1px;
text-align: center;
margin-top: 20px;
margin-bottom: 50px;
}
.trust-section-start-content{
    font-family: Helvetica;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 10%;
text-align: center;
text-transform: uppercase;
color: #B4B4B4;

}
.price-header-content{
    width: 100%;
    height: 175px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.price-header-content h1{
    font-family: Helvetica ;
font-weight: 500;
font-size: 32px;
line-height: 105%;
letter-spacing: 0%;
text-align: center;

}
.price-header-content p{
    font-family: Helvetica;
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0%;
text-align: center;

}
.price-card{
    max-width: 1440px;
    margin: auto;
gap: 30px;
padding-top: 40px;
padding-right: 60px;
padding-bottom: 40px;
padding-left: 60px;
display: flex;
justify-content: center;


}
.price-card-1{
    flex: 1 1 30%;
    max-width: 30%;
    padding: 0 5px;
    height:auto;
gap: 10px;
border-radius: 20px;
padding: 30px;
background: #F2F1ED;
}
.price-card-1-header-content h1{
    font-family: Helvetica;
font-weight: 500;
font-size: 28px;
line-height: 110.00000000000001%;
letter-spacing: 0%;

}
.price-card-1-header-content{
    margin-bottom: 28px;
}
.price-card-1-header-content p{
    color: #6C6C6C;
}
.price-card-1-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-card-1-price h2 {
    font-family: Helvetica;
font-weight: 500;
font-size: 45px;
line-height: 105%;
letter-spacing: 0%;

}
.price-card-1-price p{
    margin-top: 10px;
    font-family: Helvetica;
font-weight: 500;
font-size: 20px;
line-height: 114.99999999999999%;
letter-spacing: Typography/Letter Spacing/H5;
color: #6C6C6C;
margin-bottom: 28px;


}

.price-card-1-price-paragraph p{
    font-family: Helvetica Now Display;
font-weight: 400;
font-size: Typography/Font Sizes/Body;
line-height: 140%;
letter-spacing: Typography/Letter Spacing/Body;
color: #575757;

}
.price-header-content-price{
    margin-bottom: 20px;
}
.price-dtails-list-first{
gap: 10px;
padding-top: 24px;
padding-right: 10px;
padding-bottom: 24px;
padding-left: 10px;
border-top: 1px solid #CCC6B7;

}
.price-dtails-list-first .p1{
    font-family: Helvetica;
font-weight: 400;
font-size: 14px;
leading-trim: Cap height;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;
color: #575757;

flex: 1 1 45%;
max-width: 45%;
}
.price-dtails-list-first .p2{
    font-family: Helvetica Now Display;
font-weight: 400;
font-size: 14px;
leading-trim: Cap height;
line-height: 110.00000000000001%;
letter-spacing: 0%;
vertical-align: middle;
color: #514E4E;
flex: 1 1 55%;
max-width: 55%;
}
.price-dtails-list-first{
    display: flex;
    gap: 15px;
}
.price-card-2-last-content{
    font-family: Helvetica;
font-weight: 400;
font-size: 13px;
line-height: 150%;
letter-spacing: Typography/Letter Spacing/Disclaimer;
text-align: center;
position: super;
color: #5C5C5C;

}
.contact-section{
    position: relative;
    background: #F8F413;
    height: 795px;
    max-width: 1440px;
    margin: auto;
}

.contact-page-header-top-part{
    position: absolute;
    top: 0;
    background: white;
    height: 60px;
    width: 100%;
    z-index: 1;
    display: inline-block;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.contact-container{
    padding: 0 60px;
    padding-top: 60px;
    display: flex;
    height: 100%;
    padding-bottom: 30px;
}
.contact-left{
    flex: 1 1 50%;
    max-width: 50%;
    height: 100%;
}
.content-left-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.content-left-text h1{
    font-family: Tiempos Headline;
font-weight: 400;
font-size: 40px;
line-height: 110.00000000000001%;
letter-spacing: 0%;

}
.content-left-text p{
    max-width: 542px;
    font-family: Helvetica Now Display;
font-weight: 400;
font-size: Typography/Font Sizes/Subtitle;
line-height: 140%;
letter-spacing: 0%;
margin-top: 20px;

}
.content-left-info-left img{
    width: 154px;
    display: inline-block;
    height: 53px;
    margin-top: 50px;
}
.content-left-info-left p{
    font-family: Helvetica Now Display;
font-weight: 700;
font-size: Typography/Font Sizes/Subtitle;
line-height: 140%;
letter-spacing: 0%;


}
.content-left-infp{
    display: flex;
    gap: 50px;
}
.content-left-info-right {
    display: flex;
    align-items: end;
    gap: 50px;
}
.contact-right{
padding-top: 77px;
border-top-width: 6px;
flex: 1 1 50%;
max-width: 50%;
}
.contact-right-container{
    width: 100%;
    height: 100%;
background: black;
border-radius: 20px;
padding: 40px;
}
.contact-right-header-content{
    font-family: Helvetica Now Display;
font-weight: 500;
font-size: 22px;
leading-trim: Cap height;
line-height: 140%;
letter-spacing: 0%;
color: white;
margin-bottom: 20px;
}
.contact-input-form{
    color: white;
}
.input-1{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.input-1 label{
    text-transform: capitalize;
    font-family: Helvetica;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 1%;

}
.input-1 input{
    width: 100%;
height: 46px;
gap: 10px;
border-radius: 4px;
padding: 12px;
background: var(--spaceBlue-800, #27304A);
border: none;
color: white;
outline: none;
}
.input-2{
margin-top: 20px;
}
.input-3 textarea{
    resize: none;
    width: 100%;
height: 157px;
gap: 8px;
border-radius: 4px;
padding: 12px;
background:  #27304A;
border: none;
outline: none;
color: white;
position: relative;
}
.input-3{
position: relative;

}
.sub-btn1 {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    
}
.sub-btn1 button{
    padding: 10px 40px;
    background: #F8F413;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    border: 1px solid #F8F413;
    transition: all 0.3s linear;
    position: absolute;
    bottom: -17px;
    left: 0;
    z-index: 1;
}
.filiperk-section-container .filiperk-img-1{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 130%;
}
.filiperk-section-container{
    position: relative;
    height: 875px;
    width: 100%;
    overflow: hidden;
}
.filiperk-card{
    position: absolute;
top: 100px;
left: 60px;
gap: 10px;
border-radius: 24px;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 40px;
padding-left: 30px;
background: linear-gradient(177.41deg, #0D1B32 2.11%, #000000 92.51%);
    z-index: 1;
    color: white;

}
.filiperk-card .filiperk-p1{
    max-width: 354px;
    margin-top: 20px;
    font-family: Helvetica Now Display;
font-weight: 400;
font-size: Typography/Font Sizes/Body;
line-height: 140%;
letter-spacing: Typography/Letter Spacing/Body;
color: #D8D8D8;

}
.filiperk-card .button-filiperk a p{
    font-family: Helvetica Now Display;
font-weight: 700;
font-size: 14px;
leading-trim: Cap height;
line-height: 140%;
letter-spacing: 0%;
color: white;
}
.filiperk-card .button-filiperk a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
margin-top: 20px;
}
.filiperk-card .button-filiperk a img{
    width: 16+px;
    height: 16px;
}
.filiperk-dev-info{
gap: 10px;
border-radius: 17px;
padding-top: 27px;
padding-right: 30px;
padding-bottom: 27px;
padding-left: 30px;
background: #F8F413;
margin-top: 40px;
color: black;

}
.filiperk-dev-info .filiperk-dev-info-1 h1{
    font-family: Helvetica ;
font-weight: 500;
font-size: 24px;
line-height: 114.99999999999999%;
letter-spacing: 0%;

}
.filiperk-dev-info .filiperk-dev-info-1 p{
    font-family: Helvetica;
font-weight: 400;
font-size: Typography/Font Sizes/Body;
line-height: 140%;
letter-spacing: Typography/Letter Spacing/Body;
color: #5C5C5C;
}
.filiperk-dev-info-2{
    margin-top: 20px;
}